version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: anket-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: anket_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  api:
    build: .
    container_name: anket-api
    ports:
      - "3000:3000"
    depends_on:
      - mysql

volumes:
  mysql_data:
